//-----> $TYPOGRAPHY
h3{
    font-family: $font-title;
    font-size: $font-big;
}

.undo{
    font-family: $font-text;
    font-size: $font-little;
    font-weight: $font-bold;
}

.logout{
    font-family: $font-text;
    font-size: $font-little;
    font-weight: $font-bold;
}

.cuadricula{
    font-family: $font-title;
    font-size: $font-medium;
}

.contact_text{
    font-family: $font-text;
}