.red {
  font-family: "Courier New", Courier, monospace;
}

.blue {
  font-family: "Times New Roman", Times, serif;
}

.green {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}