*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
    max-width: 100%;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}

.grid__cell-50{
    background-color: cadetblue;
    flex: 50%;
    padding: 12px;
}

.grid__cell-25{
    flex: 0 0 25%;
    background-color: darkgrey;
    padding: 12px;
}

.grid__cell-75{
    flex: 0 0 75%;
    background-color: darkseagreen;
    padding: 12px;
}

.grid__cell-100{
    background-color: darkcyan;
    padding: 12px;
}

@media all and (max-width: 500px){
    .grid__cell-50{
        flex: 100%;
    }
    .grid__cell-25{
        flex: 100%;
    }
    .grid__cell-75{
        flex: 100%;
    }
}