<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="container">
    <header class="oficial">
        <h1 class="titulo titulo--t">Andrea Hernan.</h1>
        <img src="https://images.unsplash.com/photo-1574870111867-089730e5a72b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" alt="" class="gatito gatito--header">
    </header>
    <nav>
        <a href="google.com">Google</a>
        <a href="https://www.google.es/maps/preview"> Maps</a>
    </nav>
    <main>
        <header class="secundario">
            <h1 class= >Lorem, ipsum dolor sit amet.</h1>
        </header>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse incidunt porro autem quas provident
            repudiandae, beatae quis nisi natus placeat, architecto magni mollitia aperiam nulla officia atque
            perspiciatis veniam iure?</p>
    </main>
    <footer class="footer">
        <h5>Andrea Comecocos.</h5>
    </footer>

</body>

</html>