*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    color: #292929;
    padding: 0px 24px;
    display: flex;
}

section{
    width: 100%;
    padding: 0% 0% 012% 0%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.principal{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 36px;
    line-height: 40px;
    padding: 0 6px 0 0;
}

footer{
    font-weight: 500;
    line-height: 1.2;
}

form{
    width: 100%;
    background-color: #EBFAEF;
    font-family: 'Rubik', sans-serif;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 3px;
    display: flex;
    flex-direction: column;
}

.form-element{
    padding: 16px;
    margin: 6px;
    border-radius: 4px;
    font-size: 16px;
    min-height: 47px;
    background-color: #fff;
    border: 1px solid #ADADAD;
    color: #373a3c;
    font-family:'Rubik', sans-serif;  
}

input[type="button"] {
    background-color: #35CC61;
    color: #fff;
    width: 100%;
}


.rrss{
     font-family: 'Rubik', sans-serif;
     font-weight: 500;
}

.emailcontact{
    color: #35CC61;
    padding-left: 10px;
}

.titel{
    font-family: 'Baloo Bhai 2', cursive;
    text-align: left;
    color: #33475B;
}

@media all and (min-width: 600px) {
    main{
        display: flex;
    }
    body{
        flex-direction: column;
        align-items: center;
    }
}
